body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.widget {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: calc(33.33% - 20px);
  min-width: 250px;
}

a {
  padding: 2%;
  color: white;
  background-color: red;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-decoration: none;
}

.widget:hover {
  transform: translateY(-5px);
}

.widget h2 {
  margin-top: 0;
  color: #333;
}

.widget i {
  font-size: 48px;
  color: #555;
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
  }

  .widget {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .widget {
    width: 100%;
  }
}


.containerConf {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #007bff;
  color: #fff;
  margin-right: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}